@import '../../styles/index';

.button {
  @include text-14-b;

  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1.2rem;
  color: $white;
  background: $red-30;
  border-radius: 0.5rem;
}

.popover {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 39rem;
  height: 100%;
  min-height: 84.2rem;
  padding: 2.4rem 2rem;
  background: $white;
  border: 1px solid $gray-20;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 0 rgb(120 116 134 / 25%);
}
