@import '../../styles/index';

.box {
  width: 100%;
  min-width: 35rem;
  height: 25.8rem;
  padding-top: 2rem;
  padding-left: 2.8rem;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid$gray-20;
  border-radius: 0.6rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-40;
    border-radius: 1rem;
  }

  @include media(mobile) {
    min-width: 30rem;
  }
}

.labelContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
}

.location {
  display: inline-block;
  width: 50%;
  height: 4.4rem;
  line-height: 2.2rem;
  text-align: left;
  cursor: pointer;

  & span {
    @include text-14-l;
  }

  & span:hover {
    @include text-14-b;
  }
}

.clicked {
  color: $pink-30;
}
