@import '../../styles/index';

.box {
  width: 100%;
  min-width: 35rem;
  height: 25.8rem;
  padding: 1.5rem 0 2rem 2.8rem;
  overflow: scroll;
  overflow-x: hidden;
  background: $white;
  border: 1px solid$gray-20;
  border-radius: 0.6rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-50;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }
}

.button {
  @include text-14-l;

  width: 50%;
  height: 4.4rem;
  line-height: 2.2rem;
  text-align: left;
  background-color: $white;

  & span:hover {
    @include text-14-b;
  }
}
