@import '/src/styles/index';

.container {
  @include text-16-l;
  @include media(mobile) {
    width: 94vw;
  }

  @include media(tablet) {
    flex-direction: column;
    max-width: 68rem;
  }

  max-width: 96rem;
  padding: 3.2rem;
  margin: 0 auto;
  line-height: 2.6rem;
  background-color: $gray-10;
  border-radius: 1.2rem;
}

.title {
  @include text-16-b;
}
