$red-10: #ffebe7;
$red-20: #ffaf9b;
$red-30: #ff8b72;
$red-40: #ff4040;
$red-50: #ea3c12;
$pink-5: #fff0f5;
$pink-10: #ffe7f2;
$pink-20: #ff9bbe;
$pink-30: #ff7296;
$pink-40: #ff4072;
$pink-50: #ea1254;
$blue-10: #cce6ff;
$blue-20: #0080ff;
$green-10: #d4f7d4;
$green-20: #20a81e;
$gray-5: #fafafa;
$gray-10: #f2f2f3;
$gray-20: #e5e4e7;
$gray-30: #cbc9cf;
$gray-40: #a4a1aa;
$gray-50: #7d7986;
$white: #fff;
$black: #111322;
$kakao: #fee500;
