@import '../../styles/index';

.tableContainer {
  border: 1px solid $gray-20;
  border-radius: 10px;
}

.table {
  @include text-14-l;

  width: 100%;
}

.titleRow {
  text-align: left;
  background-color: $red-10;
}

.title {
  padding: 1.4rem 1.2rem;
}

.listRow {
  padding: 2rem 1.2rem;
}

.pagenation {
  padding: 0.8rem 1.2rem;
  text-align: center;
}
