@import '../../styles/index';

.tableContainer {
  border: 1px solid $gray-20;
  border-radius: 1rem;
}

.table {
  @include text-14-l;

  width: 100%;
}

.titleRow {
  text-align: left;
  background-color: $red-10;
}

.title {
  padding: 1.4rem 1.2rem;
}

.listRow {
  padding: 2rem 1.2rem;
}

.nameCol {
  width: 25%;
  border-bottom: 1px solid $gray-20;
}

.payCol {
  width: 20%;
  border-bottom: 1px solid $gray-20;

  @include media(tablet) {
    display: none;
  }
}

.timeCol {
  width: 30%;
  max-width: 30rem;
  border-bottom: 1px solid $gray-20;

  @include media(mobile) {
    display: none;
  }
}

.statusCol {
  width: 25%;
  border-bottom: 1px solid $gray-20;
}

.pagination {
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  background-color: $gray-5;
  border-radius: 0.6rem;

  @include media(mobile) {
    padding: 0.8rem 1.2rem;
  }
}

.approve {
  margin-right: 1.2rem;
  color: $blue-20;
  border: 1px solid $blue-20;

  @include media(mobile) {
    margin-right: 0.8rem;
  }
}

.approve:hover {
  background-color: $blue-10;
  border-color: $blue-10;
}

.reject {
  color: $red-20;
  border: 1px solid $red-20;
}

.reject:hover {
  background-color: $red-10;
  border-color: $red-10;
}
