@import '../../styles/index';

.label {
  @include text-14-b;

  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 20px;
}

.labelAccept {
  color: $blue-20;
  background-color: $blue-10;
}

.labelReject {
  color: $red-40;
  background-color: $red-10;
}

.labelWaiting {
  color: $green-20;
  background-color: $green-10;
}

.labelLocation {
  color: $red-50;
  background-color: $red-10;
}

.close {
  vertical-align: text-top;
}
