@import '../../styles/index';

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 35rem;
  max-width: 96.4rem;
  padding: 6rem 2.4rem;
  border: 0.1rem solid $gray-20;
  border-radius: 1.2rem;
}

.tabletFit {
  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include media(mobile) {
    gap: 1rem;
  }
}

.description {
  @include text-16-l;

  text-align: center;

  @include media(mobile) {
    @include text-14-l;
  }
}

.button {
  width: 40%;
  margin-top: 2.4rem;
  text-align: center;
}

.title {
  @include text-28-b;

  @include media(mobile) {
    @include text-20-b;
  }
}
