@import '../../styles/index';

.box {
  width: 100%;
  padding: 6rem 2.4rem;
  border: 0.1rem solid $gray-20;
  border-radius: 12px;
  min-width: 35rem;
  max-width: 96.4rem;
}

.description {
  @include text-16-l;

  text-align: center;

  @include media(mobile) {
    @include text-14-l;
  }
}

.button {
  margin-top: 2.4rem;
}
