@import '../../../styles/index';

@mixin container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 25rem;
}

@mixin form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@mixin move {
  @include text-16-l;

  text-align: center;
}

.container {
  @include container;
}

.form {
  @include form;
}

.movePage {
  @include move;
}
