@import '/src/styles/index';

.container {
  display: flex;
  justify-content: center;
  padding: 3.7rem;
  background: $gray-10;

  @include media(mobile) {
    padding: 3.2rem 2rem 1.6rem;
  }

  @include media(tablet) {
    max-width: 120rem;
    padding: 3.7rem 3.2rem;
  }
}

.items {
  display: grid;
  grid-template: 'copyright toLink sns ';
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;
  min-width: 40rem;
  max-width: 113.6rem;

  @include media(mobile) {
    grid-template:
      'toLink  sns'
      'copyright . ';
    row-gap: 4rem;
    justify-content: space-between;
    min-width: 31rem;
    height: fit-content;
  }
}

.copyright {
  @include text-16-l;

  grid-area: copyright;
  line-height: 2.6rem;
  color: $gray-50;
}

.toLink {
  display: flex;
  grid-area: toLink;
  gap: 3rem;
}

.link {
  @include text-16-l;

  line-height: 2.6rem;
  color: $gray-50;
}

.sns {
  display: flex;
  grid-area: sns;
  gap: 1rem;
}
