@import '/src/styles/index';

.carousel {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;

  @include media(mobile) {
    gap: 1rem;
  }

  div {
    max-height: 35.78rem;

    @include media(mobile) {
      max-height: 24rem;
    }
  }
}
