@import '/src/styles/index';

.container {
  background-color: $red-10;
}

.layout {
  @include layout;

  height: 100%;
  padding-top: 13rem;
}

.noAddress {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 3rem;
  background-color: $white;
  border-radius: 1rem;

  h1 {
    @include text-24-b;
  }

  h2 {
    @include text-18-r;

    word-break: keep-all;
  }
}

.button {
  max-width: 16rem;
}

.titleContainer {
  width: 100%;
}

.title {
  @include text-28-b;

  @include media(mobile) {
    @include text-20-b;
  }
}

.cardListContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.3rem;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  overflow-x: hidden;
}
