@import '/src/styles/index';

.container {
  @include layout;

  height: 100%;
  padding-top: 14rem;
  background-color: $pink-5;
}

.noAddress {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  padding: 5rem;
  background-color: $white;
  border-radius: 1rem;

  @include media(mobile) {
    padding: 3rem;
  }

  h1 {
    @include text-24-b;

    @include media(mobile) {
      @include text-20-b;
    }
  }

  h2 {
    @include text-18-r;

    word-break: keep-all;

    @include media(mobile) {
      @include text-16-r;

      line-height: 2rem;
    }
  }
}

.button {
  max-width: 18rem;
}

.titleContainer {
  width: 100%;
}

.title {
  @include text-28-b;

  @include media(mobile) {
    @include text-20-b;
  }
}

.cardListContainer {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  overflow: hidden;

  @include media(tablet) {
    display: flex;
    justify-content: center;
    max-width: 64.5rem;
    margin: 0 auto;
  }

  @include media(mobile) {
    display: flex;
    justify-content: center;
    max-width: 37rem;
    margin: 0 auto;
  }
}
