@import '../../../../styles/index';

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  @include media(tablet) {
    flex-direction: column;
    gap: 2rem;
  }
  @include media(mobile) {
    margin-bottom: 4rem;
  }
}

.title {
  @include text-28-b;

  margin-bottom: 2rem;

  @include media(mobile) {
    @include text-20-b;
  }
}

.tabletFit {
  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.backgroundArea {
  padding: 0 calc((100vw - 96.5rem) / 2) 6rem;
  margin: 0 calc((-100vw + 96.5rem) / 2) -6rem;
  background-color: $gray-5;

  @include media(tablet) {
    padding: 0 3.2rem 6rem;
    margin: 0 -3.2rem -6rem;
  }

  @include media(mobile) {
    padding: 0 1.2rem 4rem;
    margin: 0 -1.2rem -4rem;
  }
}

.applyArea {
  padding: 6rem 0 12rem;
}
