@import '../styles/index';

.layout {
  width: 100vw;
  min-height: 100vh;
  padding: 0 calc((100vw - 96.5rem) / 2);
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include media(tablet) {
    padding: 6rem 3.2rem;
  }
  @include media(mobile) {
    padding: 4rem 1.2rem;
  }
}
