/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable scss/at-mixin-pattern */
@import '../../../styles/index';

@mixin progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: $green-20; // 진행 바 색상
  border-radius: 0.8rem;
  animation: fillBar linear forwards;
}

.toastContainer {
  @include text-16-l;

  position: fixed;
  bottom: 10%;
  left: 50%;
  display: flex;
  padding: 2rem 3rem;
  color: $white;
  background: rgb(0 0 0 / 80%);
  border-radius: 0.8rem;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-50%);
  animation: slideUp 0.5s ease-in-out;

  .progressBar {
    @include progressBar;
  }

  .progressBar.warning {
    @include progressBar;

    background-color: $red-50; // 진행 바 색상
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%) translateX(-50%); /* 처음 위치 */
    }

    to {
      transform: translateY(0) translateX(-50%); /* 최종 위치 */
    }
  }

  @keyframes fillBar {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }
}

.toast {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: $white;
  border-radius: 0.8rem;
}

.close {
  background: none;
}
