@import '../../../styles/index';

.toast {
  @include text-16-l;

  position: fixed;
  bottom: 10%;
  left: 50%;
  display: flex;
  padding: 2rem 3rem;
  color: $white;
  background: $black;
  border-radius: 0.8rem;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-50%);
  animation: slideUp 0.5s ease-in-out;

  @keyframes slideUp {
    from {
      transform: translateY(100%) translateX(-50%); /* 처음 위치 */
    }

    to {
      transform: translateY(0) translateX(-50%); /* 최종 위치 */
    }
  }
}
