@import '/src/styles/index';

.outer {
  padding-top: 8rem;
  background-color: $gray-5;
}

.container {
  max-width: 96rem;
  padding: 6rem 0;
  margin: 0 auto;

  @include media(mobile) {
    width: 94vw;
  }

  @include media(tablet) {
    max-width: 68rem;
  }
}

.category {
  @include text-16-b;

  margin-bottom: 0.8rem;
  color: $pink-50;
}

.sectionTitle {
  @include text-28-b;

  margin-bottom: 2.4rem;
}

.title {
  @include text-28-b;

  margin-bottom: 2rem;

  @include media(mobile) {
    @include text-20-b;
  }
}

.tableArea {
  padding: 6rem calc((100vw - 96.5rem) / 2);
  background-color: $gray-5;

  @include media(tablet) {
    padding: 6rem 3.2rem;
  }
  @include media(mobile) {
    padding: 4rem 1.2rem;
  }
}

.noApply {
  @include text-20-b;

  margin: 12rem 0;
  text-align: center;
}
