@import '/src/styles/index';

.spinnerContainer {
  @include layout;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60rem;
}

.spinner {
  min-width: 5rem;
  min-height: 5rem;
  border: 6px dotted $pink-30;
  border-right: 5px solid transparent;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
