@import '/src/styles/index';

@mixin border-gray {
  background: $white;
  border: 1px solid $gray-30;
  border-radius: 0.6rem;
}

.dropdownContainer {
  @include text-14-l;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .inputBox {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;

    .label {
      @include text-16-l;

      line-height: 2.6rem;
    }

    .input {
      @include border-gray;
      @include text-16-l;

      padding: 1.6rem 2rem;
      cursor: pointer;
      outline: none;
    }

    .input.onlyFilterInput {
      @include text-14-b;

      height: 3rem;
      padding: 1.5rem;
      text-align: start;
      background: $gray-10;
      border: none;
    }

    .input.errorBox {
      border: 1px solid $red-40;
      border-radius: 0.5rem;
    }

    .arrow {
      position: absolute;
      top: 60%;
      right: 5%;
      cursor: pointer;

      @include media(mobile) {
        right: 2%;
      }
    }

    .arrow.onlyFilterArrow {
      top: 25%;
      right: 5%;

      @include media(mobile) {
        right: 2%;
      }
    }
  }

  .selectList {
    @include border-gray;

    position: absolute;
    top: 110%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20rem;
    overflow: auto;
    box-shadow: 0 0.4rem 2.5rem 0 rgb(0 0 0 / 10%);

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-50;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: $white;
    }

    li {
      width: 100%;
      padding: 1rem;
      text-align: center;
      cursor: pointer;
      border-bottom: 1px solid $gray-20;
    }

    li:hover {
      background: $gray-10;
    }
  }

  .selectList.onlyFilterList {
    height: auto;
  }
}

.error {
  @include text-12-l;

  line-height: 1.6rem;
  color: $red-40;
}
