@import '@/src/styles/index';

.popUp {
  @include text-14-l;

  position: absolute;
  top: -0.5rem;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: max-content;
  max-width: 22rem;
  padding: 0.6rem;
  color: $white;
  background-color: $gray-40;
  border-radius: 0.8rem;
  transform: translateY(-100%);
  transform-origin: bottom;

  @include media(mobile) {
    max-width: 16rem;
  }
}
